<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h2>Welcome to ansible</h2>
    <p>{{ ansible_managed }}</p>
    <input type="text" default="Hello ..." id="name-box">
    <button id="name-submit">Submit</button>
  </body>
  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
  <script src="/fetch.js"></script>

</html>
