#!/usr/bin/env ansible-playbook
- name: setup boxes hosts file
  hosts: all
  become: True
  tasks:
    - name: ensure lines in file
      lineinfile:
        line: "{{ item }}"
        state: present
        dest: /etc/hosts
      with_items:
        - 172.28.128.10 vagrant1 vagrant1.local web.server.local
        - 172.28.128.11 vagrant2 vagrant2.local app.server.local
        - 172.28.128.12 vagrant3 vagrant3.local db.server.local
        - 172.28.128.2 master master.local

